* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

// Scrollbar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: $neutral-placeholder;
  border-radius: 75px;
  box-shadow: inset 0 0 3px rgba(0,0,0,.3);
}
::-webkit-scrollbar-thumb:hover {
  background: darken($neutral-placeholder, 5%);
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
::-webkit-scrollbar-thumb:active {
  background: darken($neutral-placeholder, 8%);
  box-shadow: inset 0 0 9px rgba(0,0,0,.3);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.4);
  background-color: $neutral-background;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style-type: none;
}

iframe {
  border: 0;
}

/* Form*/
textarea {
  resize: none; /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
}

input, textarea, select, button {
  outline: none;
  border: none;
}

html {
  line-height: $mainLineHeight;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  font-size: $mainFontSize;
}

section, .section {
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: $smDesktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $tableWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $phoneWidth) {
    padding: 20px 0;
  }
}

/*#################################################################*/

body {
  background: $neutral-background;
}

header, main {
  background: $default-color;
  box-shadow: $custom-box-shadow;
}

footer {
  background: $neutral-primary;
  color: $default-color;
}

a {
  color: #000;
  transition: all 0.15s ease;
}

.underlined {
  border-bottom: 1px solid rgba(52, 73, 94, 0.3);
  transition: box-shadow, border-bottom, border-color, background, color, fill, all .33s ease-out;
  &:hover {
    border-bottom-color: currentColor;
  }
}

button, .btn, .btn-block {
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out
}

.ico-lighter:hover {
  color: $neutral-regular;
  transition: .15s;
  cursor: pointer;
}
