<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>BG4G | </title>
</head>
<body>
<div id="app">
  <v-header>
    <v-modal-form></v-modal-form>
  </v-header>
  <v-current></v-current>
  <section class="container w-100">
    <article class="row">
      <!--Tabs bar-->
      <div class="nav flex-column nav-pills col-2 p-0 border-right">
        <a class="nav-link active" data-toggle="pill" href="#main">Main</a>
        <a class="nav-link" data-toggle="pill" href="#basics">Basics</a>
        <a class="nav-link" data-toggle="pill" href="#frameworks">Frameworks</a>
      </div>
      <!------------>
      <div class="tab-content col-10 p-0" v-for="card in contents">
        <!--Main-->
        <div class="tab-pane fade show active" id="main">
          <div class="row">
            <div class="col-12 p-4">
              <ul class="list-group">
                <li class="list-group-item text-capitalize h5">language: <span class="d-inline h4">{{card.title}}</span></li>
                <li class="list-group-item text-capitalize h5">invented in: <span class="d-inline h4">{{card.invented}}</span></li>
                <li class="list-group-item text-capitalize h5">Developer: <span class="d-inline h4">{{card.developer}}</span></li>
                <li class="list-group-item text-capitalize h5">For what: <span class="d-inline h4">{{card.forWhat}}</span></li>
                <li class="list-group-item text-capitalize h5" v-if="card.suitable === 'yes'">suitable for beginner: <span class="d-inline text-success h4">{{card.suitable}}</span></li>
                <li class="list-group-item text-capitalize h5" v-else="card.suitable === 'no'">suitable for beginner: <span class="d-inline text-danger h4">{{card.suitable}}</span></li>
              </ul>
              <p class="mt-2">{{card.globalDescription}}</p>
            </div>
          </div>
        </div>
        <!--Basic-->
        <div class="tab-pane fade" id="basics">
          <!--Tabs for basics-->
          <ul class="nav nav-tabs" id="myTab">
            <li class="nav-item">
              <a class="nav-link border-left-0" style="border-top-left-radius: 0;" data-toggle="tab"
                 href="#videos-basic">Videos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#books-basic">Books</a>
            </li>
          </ul>
          <div class="tab-content">
            <!--Videos-->
            <div class="tab-pane fade show active" id="videos-basic">
              <div class="card m-3 px-3" v-for="video in card.videos">
                <div class="card-body">
                  <div class="row">
                    <div class="col-6">
                      <h3 class="text-capitalize">
                        <a href="">{{video.title}}</a>
                      </h3>
                      <h6 class="text-capitalize">Автор: {{video.author}}</h6>
                    </div>
                    <p class="text-muted">{{video.description | cut}}</p>
                    <a class="btn btn-dark" href="#">Узнать
                      больше</a>
                  </div>
                </div>
              </div>
            </div>
            <!--Books-->
            <div class="tab-pane fade" id="books-basic">
              <div class="card m-3 px-3" v-for="book in card.books">
                <div class="card-body">
                  <div class="row">
                    <div class="col-6">
                      <a href="#" class="h3">{{book.title}}</a>
                      <h6 class="text-capitalize">Автор: {{book.author}}</h6>
                    </div>
                    <p class="text-muted">{{book.description | cut}}</p>
                    <a class="btn btn-dark" href="#">Узнать
                      больше</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Frameworks-->
        <div class="tab-pane fade" id="frameworks">
          <!--Tabs for frameworks-->
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active  border-left-0" style="border-top-left-radius: 0;" data-toggle="tab"
                 href="#videos-frameworks">Videos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#books-frameworks">Books</a>
            </li>
          </ul>
          <div class="tab-content">
            <!--Videos-->
            <div class="tab-pane fade show active" id="videos-frameworks">
              <div class="card m-3 px-3">
                <div class="card-body">
                  <div class="row">
                    <img width="70" height="70" src="#">
                    <div class="col-4">
                      <h3><a href="#">Laravel</a></h3>
                    </div>
                    <p class="text-muted">
                      PHP — это серверный язык программирования. Создан специально для
                      бэкэнд-разработки. PHP
                      популярен и проще для
                      новичков, чем большинство других серверных языков. Slack, Wikipedia, Вконтакте
                      используют PHP.
                    </p>
                    <a class="btn btn-dark" href="#">Узнать
                      больше</a>
                  </div>
                </div>
              </div>
            </div>
            <!--Books-->
            <div class="tab-pane fade" id="books-frameworks">
              <div class="card m-3 px-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-4">
                      <h3><a href="#">Laravel</a></h3>
                    </div>
                    <p class="text-muted">
                      PHP — это серверный язык программирования. Создан специально для
                      бэкэнд-разработки. PHP
                      популярен и проще для
                      новичков, чем большинство других серверных языков. Slack, Wikipedia, Вконтакте
                      используют PHP.
                    </p>
                    <a class="btn btn-dark" href="">Узнать
                      больше</a>
                  </div>
                </div>
              </div>
            </div>
            <!---->
          </div>
        </div>
      </div>
    </article>
  </section>
  <v-footer></v-footer>
</div>
</body>
<style lang="scss">

  .h4 {
    font-weight: 400;
  }

  .h5 {
    margin-bottom: 0;
  }

  .nav-link.active {
    background-color: #3E3E3E;
    color: #fff;
  }
</style>
</html>
